# .gitignore

# 1. Python & Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log
local_settings.py

# 2. Environment Variables (CRITICAL: Never commit these)
.env
.env.local

# 3. Docker
.docker/

# 4. OS System Files
.DS_Store
Thumbs.db

# 5. IDEs
.vscode/
.idea/

# 6. Static & Media (User uploads shouldn't go to Git)
media/
staticfiles/
/static/

# 7. Virtual Environment (if not using Docker occasionally)
venv/
env/
.venv/